$default-light-color: #dddddf
$default-dark-color: #222224

$text-color: $default-dark-color
$link-color: #444424
$link-hover-color: #222224

$box-background-light-color: $default-light-color
$box-background-dark-color: $default-dark-color
$box-background-light-color--transparent: rgba(221, 221, 223, .8)
$box-background-dark-color--transparent: rgba(34, 34, 36, .8)
