.topic
  height: 140%
  padding: $margin*6

  &.as-home
    background: url(../images/bg-home.jpg) no-repeat right center fixed

  &.as-skate
    background: url(../images/bg-skate.jpg) no-repeat right center fixed

  .topic-empty-row
    height: 45px

  .topic-title
    min-height: 90px
    padding: $padding
    font-size: 60px
    background-color: wheat

  .topic-description
    padding: $padding
    background-color: wheat
