.row
  .alert-box.warning.bold-font{ data: { alert: true, behavior: 'alert' }, style: 'top: 25px; margin-bottom: -50px; text-transform: uppercase; display: none;' }
    = image_tag 'herbstblatt.png', style: 'margin-top: -55px;'
    Kommen sie uns besuchen! auf der 66. Warburger Oktoberwoche ab dem 27.09.
    %a.close{ data: { behavior: 'alert-close' } }
      &times;
