- @page_title = t('index.page_title')
- @current_page = :services


- t('services').keys.each_with_index do |topic_sym, index|
  - first = index == 0 ? true : false
  - last = index+1 == t('services').keys.size ? true : false
  = partial :shared_topic, locals: { meta_topic: 'services', topic: topic_sym, first: first, last: last, next_topic: t('services').keys[index+1] }
